body {
    background-color: black;
    margin: 0;
    display: block;
    transform: scale(1, 1);
}

#start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
}

#start-button {
    pointer-events: fill;
    user-select: none;
    font-family: "Bahnschrift";
    text-decoration: none;
    font-size: 125pt;
    color: white;
    padding: 50px;
    border-radius: 150px;
    background: linear-gradient(90deg, #6e14a7, #a227d6);
}

#start a > span {
    position: absolute;
    background: rgb(110, 20, 167);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: animate 1s linear infinite;
}
@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        background: rgba(255, 255, 255, 0.75);
    }
    100% {
        width: 500px;
        height: 500px;
        background: rgba(255, 255, 255, 0);
    }
}

.fade-out {
    animation: fading-out 2s linear;
}
@keyframes fading-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: fading-in 3s linear;
}
@keyframes fading-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#game {
    display: none;
    margin: 0;
    float: left;
    width: 1200px;
}

#pop-up {
    width: 800px;
    height: 600px;
    border-radius: 50px;
    background: rgba(115, 173, 33, 0.75);
    position: absolute;
    left: 50px;
    top: 60px;
    justify-content: center;
    display: flex;
}

table,
tr,
td {
    font-family: "Bahnschrift";
    border: 0px solid black;
    border-collapse: collapse;
    padding: 0;
    margin: 0 auto;
}

#pop-up-content {
    width: 90%;
    height: 90%;
    align-self: center;
}

#head-text {
    font-size: 30pt;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 20px;
    vertical-align: middle;
}

#pop-up-text {
    font-size: 12pt;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0;
}

#power-images {
    height: 10%;
    text-align: center;
}

#power-info {
    height: 20%;
    text-align: center;
    vertical-align: initial;
    font-size: 10pt;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
}

#power-info p {
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
}

#half-speed-image,
#small-image,
#bonus-image,
#extra-image {
    text-align: center;
}

#extra-image img {
    margin-left: 5px;
    margin-right: 5px;
}

#row3 {
    height: 32px;
    text-align: center;
}

#row4 {
    height: 22%;
    padding: 0;
}

#a,
#b,
#c,
#d {
    width: 25%;
}

#b,
#c,
#d,
#b-answer,
#c-answer,
#d-answer {
    border-left: 3px solid black;
    border-collapse: collapse;
}

#a-answer,
#b-answer,
#c-answer,
#d-answer {
    vertical-align: top;
}

#a-text,
#b-text,
#c-text,
#d-text {
    text-align: center;
    font-size: 12pt;
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
}

.difficulty-info {
    text-align: left;
    font-size: 10pt;
    color: white;
    margin: 0 auto;
    padding-left: 5px;
    position: absolute;
    bottom: 5%;
}

.button-class {
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
}

#a-circle-text,
#b-circle-text,
#c-circle-text,
#d-circle-text {
    vertical-align: middle;
    text-anchor: middle;
    font-size: 20px;
    fill: white;
    pointer-events: none;
    user-select: none;
}

.answer-circle-container {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.bigger-circle-container {
    width: 42px;
    height: 42px;
    vertical-align: middle;
}

.answer-circle {
    cx: 16px;
    cy: 16px;
    r: 15px;
    stroke: black;
    stroke-width: 2px;
    fill: transparent;
    transition: fill 0.5s ease-in-out;
}

.answer-circle-active {
    cx: 16px;
    cy: 16px;
    r: 15px;
    stroke: black;
    stroke-width: 2px;
    fill: transparent;
    transition: fill 0.5s ease-in-out;
}

.answer-circle-active#circle-a:hover,
.answer-circle-active#circle-b:hover,
.answer-circle-active#circle-c:hover,
.answer-circle-active#circle-d:hover {
    fill: purple;
}

#circle-a:hover {
    fill: purple;
}

#circle-b:hover,
#circle-a1:hover {
    fill: green;
}

#circle-c:hover {
    fill: goldenrod;
}

#circle-d:hover,
#circle-b1:hover {
    fill: red;
}

#snake {
    left: 0;
    top: 0;
    z-index: -1;
}

#board {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #ccc;
}

#score-area {
    width: 300px;
    height: 235px;
    background-color: purple;
    border-radius: 0px 20px 0px 0px;
    position: relative;
    font-family: "Bahnschrift";
}

#score-info {
    font-size: 50pt;
}

#score-number,
#level-number,
#score-upgrade,
#power-up {
    margin: 0 auto;
    display: inline;
    float: left;
}

#score-number,
#level-number {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

#score-number {
    color: white;
    width: 30%;
    padding-left: 5%;
}

#level-number {
    font-size: 30pt;
    color: white;
    text-align: center;
    width: 65%;
}

#score-upgrade {
    font-size: 20pt;
    color: white;
    text-align: center;
    width: 100%;
}

#upgrade-number {
    font-size: 25pt;
    color: red;
}

#controllers {
    width: 300px;
    height: 150px;
    background-color: blueviolet;
    border-radius: 0px 0px 20px 0px;
    top: 235px;
    left: 900px;
    position: absolute;
    padding-top: 8px;
}

#sliders-table {
    width: 90%;
    height: 90%;
    border: 0px solid black;
    margin: 0 auto;
}

#sliders-table td {
    text-align: center;
    vertical-align: middle;
    color: white;
}

.slider {
    width: 60%;
    -webkit-appearance: none;
    height: 4px;
    border-radius: 4px;
    background-color: white;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}

#timer {
    line-height: 75px;
    color: white;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 49%;
    height: 75px;
    margin: 0 auto;
    display: inline;
}

#power-up {
    height: 90px;
    width: 300px;
    display: inline;
    float: left;
    padding-top: 10px;
    font-size: 40px;
}

#power-up-image {
    height: 100px;
    width: 40%;
    padding-left: 2.5%;
    line-height: 100px;
    display: inline;
    float: left;
    margin: 0;
    text-align: center;
}

.power-image-changes {
    width: 75px;
    height: auto;
    animation-name: power-flashing;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.animation {
    animation-name: flashing;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.animation-timer {
    animation-name: flashing-timer;
    animation-duration: 1s;
    animation-iteration-count: 5;
    animation-timing-function: ease-in-out;
}

#timer.animation {
    animation: flashing 1s ease-in-out infinite;
}

@keyframes flashing {
    0% {
        color: white;
        font-size: 100%;
    }
    50% {
        color: red;
        font-size: 150%;
    }
    100% {
        color: white;
        font-size: 100%;
    }
}

@keyframes flashing-timer {
    0% {
        color: white;
        font-size: 150pt;
    }
    50% {
        color: red;
        font-size: 200pt;
    }
    100% {
        color: white;
        font-size: 150pt;
    }
}

@keyframes power-flashing {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.25, 1.25);
    }
    100% {
        transform: scale(1, 1);
    }
}
